@{
  Layout = "_Layout";
}

@model ToDoList.Models.Item

<h1>Edit</h1>

<h4>Edit this task: @Html.DisplayFor(model => model.Description)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.ItemId)

    @Html.LabelFor(model => model.Description)
    @Html.EditorFor(model => model.Description)

    @Html.Label("Select category")
    @Html.DropDownList("CategoryId")

    @Html.Label("Due Date(yyyy-MM-dd)")
    @Html.TextBoxFor(model => model.Date)

    @Html.Label("Did you complete your item?")
    @Html.CheckBoxFor(model => model.Done)

    <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>
